@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

nav{
    list-style-type: none;
	margin: 0;
	padding: 0;
	text-align:right;
    margin-top: 40px;
}
nav li{
    display: inline-block;
}
nav ul li a:hover{
    color: #000;
}

 nav a{
    text-decoration:none;
    font-family:montserrat,  sans-serif;
    letter-spacing:2px;
    padding:10px;
   margin: 30px;
    font-size: 14px;
    color: Red;
}

img{
    position: absolute;
    width: 100px;
    margin: 0;
    padding: 0;
    top:20px;
}

h1{
    font-family:Montserrat, sans-serif;
    font-size:50px;
    text-align: center;
}

.Ps5-icon{
    position: absolute;
    width:400px;
    top:270px;
    right:410px;
}
.Ps4-icon{
    width:300px;
    padding: 2px;
    border: 2px;
    top:200px;
}

.Ps3-icon{
    width: 300px;
    padding:2px;
    border: 2px;
    top: 270px;
    right: 50px;
}

h3{
    font-family: montserrat, sans-serif;
   text-align: center;
   font-size: 25px;
   padding: 34px 10px;
}

h2{
    
    font-family: montserrat, sans-serif;
    font-size:20px;
    text-align: center;
}

h4{
    font-family: montserrat, sans-serif;
    text-align:center;
    font-size: 15px;
    padding:0px;
    position:absolute;
    right: 340px;
    top:720px;
}

button{
    width: 200px;
    border: 0;
    padding:19px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283,#ff3527);
    border: radius 6px;
    cursor: pointer;
    transition:width 0.5s ;
}
button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    position: absolute;
    top:700px;
    left:550px;
}


